:root{
  --primary-light: #f5f7fa;  
  --primary-dark: #031926;
  --primary-accent: #468189;
  --primary-accent-darker: #3e7279;
  --primary-accent-darkest: #31595e;


}

body{
  font-family: sans-serif;
  
  background-color: var(--primary-light);
  display: flex;
  color: var(--primary-light);
  max-width: 100vw;
}

main{
  height: 95vh;
  flex-grow: 1;
  max-width: 83vw;
}

#table {
  width: 100%;
  height: 95vh;
}

#tableList{
  text-transform: capitalize;
  width: 15vw;
  min-width: 200px;
  border-right: 1px var(--primary-light) solid;
  height: 95vh;
  padding-top: 10px;
}

.tableListBoxItem{
   /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); */
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  color: var(--primary-light);
  background-color: var(--primary-accent);
  transition: background-color 0.2s ease-in-out;
  user-select: none;
}

.tableListBoxItem:hover{
  background-color: var(--primary-accent-darker);
}

.tableListBoxItem:active{
  background-color: var(--primary-accent-darkest);
  transition: background-color 0s;
}

.foreignKey{
  cursor: pointer;
  text-decoration: underline;
}


.foreignKey:hover{
  color: var(--primary-accent);
  transition: color 0.1s ease-in-out;
}

.foreignKey:active{
  color: var(--primary-accent-darker);
  transition: color 0s ease-in-out;

}

.welcomeScreen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 100vw;
  color: var(--primary-dark);
  position: absolute;
  top: 0;
  left: 0;
}

.welcomeScreen h1{
  font-size: 4em;
  font-weight: 400;
  margin-bottom: 0;
}

.welcomeScreen h3{
  font-size: 1.5em;
  font-weight: 300;
}

.welcomeScreen button{
  padding: 1em;
  font-size: 1em;
  border-radius: 5px;
  background-color: var(--primary-accent);
  border: none;
  color: var(--primary-light);
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease-in-out;
}

.welcomeScreen button:hover{
  background-color: var(--primary-accent-darker);
}
.welcomeScreen button:active{
  background-color: var(--primary-accent-darkest);
  transition: background-color 0s ease-in-out;
}

.contextMenu{
  position:absolute;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-light);
  border-radius: 5px;
  padding: 10px;
  z-index: 100;
  color: var(--primary-dark)
}

.contextMenu h3{
  font-weight: 300;
  margin-block: 0;
  padding: 5px;
  border-bottom: var(--primary-accent) solid 1px;
}

.contextMenu ul{
  padding-inline-start: 0px;
  margin-block: 0px;
}

.contextMenu li{
  list-style: none;
  padding: 5px;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
}

.contextMenu li:hover{
  background-color:hsl(from var(--primary-light) h s 90%);
  transition: background-color 0.2s ease-in-out;
}

.contextMenu li:active{
  background-color:hsl(from var(--primary-light) h s 80%);
  transition: background-color 0s ease-in-out;

}

.recentBox{
  text-align: center;
}

.recentBox h3{
  font-style: italic;
  font-weight: 300;
  font-size: 1em;
}

.recentBox li{
  list-style: none;
  padding: 5px;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
  font-style: italic;
  font-weight: 300;
  font-size: 0.8em;
}

.recentBox li:hover{
  background-color:hsl(from var(--primary-light) h s 90%);
  transition: background-color 0.2s ease-in-out;
}

.recentBox li:active{
    background-color:hsl(from var(--primary-light) h s 80%);
  transition: background-color 0s ease-in-out;
}

.recentBox ul{
  padding-inline-start: 0px;
  margin-block: 0px;
  border: 1px black solid;
}

.showNeighbourButton{
  padding: 0;
  border: none;
  background-color: var(--primary-light);
  cursor:pointer;
  margin-left: 1px;
  padding-left: 2px;
  border-left: 1px solid var(--primary-accent);
  border-top: 1px solid var(--primary-accent);
  border-bottom: 1px solid var(--primary-accent);
  color: var(--primary-accent);
  border-radius: 2px;
}

.showNeighbourButton:hover{
  color: var(--primary-accent-darker);
  border-color: var(--primary-accent-darker);
  transition: color 0.2s ease-in-out;
}

.showNeighbourButton:active{
  color: var(--primary-accent-darkest);
  border-color: var(--primary-accent-darkest);
  transition: color 0s ease-in-out;
}