:root{
  --primary-light: #F8F1FF;
  --primary-dark: #031926;
  --primary-accent: #468189;
  --primary-accent-darker: #3e7279;
  --primary-accent-darkest: #31595e;


}

body{
  font-family: sans-serif;
  text-transform: capitalize;
  background-color: var(--primary-light);
  display: flex;
  color: var(--primary-light)
}

main{
  height: 95vh;
  flex-grow: 1;
}

#table {
  width: 100%;
  height: 95vh;
}

#tableList{
  width: 250px;
  min-width: 200px;
  border-right: 1px var(--primary-light) solid;
  height: 95vh;
  padding-top: 10px;
}

.tableListBoxItem{
   /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); */
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  color: var(--primary-dark);
  background-color: white;
  transition: background-color 0.2s ease-in-out;
  user-select: none;
}

.tableListBoxItem:hover{
  background-color: var(--primary-accent-darker);
}

.tableListBoxItem:active{
  background-color: var(--primary-accent-darkest);
  transition: background-color 0s;
}

.foreignKey{
  border: var(--primary-accent) solid 1px !important;
  cursor: pointer;
  padding: 3px;
  border-radius: 3px;
}

.foreignKey:hover{
  border-color: var(--primary-accent-darker);
}

.foreignKey:active{
  border-color: var(--primary-accent-darkest);
}